{{#paper-card}}
    {{#paper-toolbar class="card-header"}}
        Contests
        {{#paper-button icon-button=true class="md-button-header-right md-fab md-warn" onClick=(action "toggleContest")}}{{paper-icon icon="add"}}{{/paper-button}}
    {{/paper-toolbar}}


    {{#paper-card-content}}

{{#liquid-if isEditing class="new-contest"}}
    {{paper-input label="Contest Name" onChange=(action (mut name)) value=name required=true required-errortext="Contest name is required"}}
    {{paper-divider}}
    {{#paper-button raised=true primary=true onClick=(action "saveContest")}}Save Contest{{/paper-button}}
    {{#paper-button raised=true onClick=(action "toggleContest")}}Cancel{{/paper-button}}
{{else}}
        {{#paper-list}}
            {{#each content as |contest|}}
                {{#paper-item}}
                    <div class="md-list-item-text">
                        <h3>{{#link-to "contest" contest.id}}{{contest.name}}{{/link-to}}</h3>
                        <p>
                            08/01/2016 Muncie, IN
                        </p>
                    </div>
                {{/paper-item}}
                {{paper-divider}} {{! OR {{paper-divider inset=true}}

            {{/each}}

        {{/paper-list}}
{{/liquid-if}}

    {{/paper-card-content}}
{{/paper-card}}
