<md-list-item class="md-1-line titleHeight">
    <div class="md-no-style md-list-item-inner">
        Contests
        {{#unless isEditing}}
            {{#paper-button icon-button=true mini=true class="md-button-header-right md-fab md-warn" onClick=(action "toggleContest")}}{{paper-icon icon="add"}}{{/paper-button}}
        {{/unless}}
    </div>
</md-list-item>

{{paper-divider}}

{{#liquid-if isEditing class="new-contest"}}

    <div class="md-padding">
        {{paper-input label="Contest Name" onChange=(action (mut name)) value=name required=true required-errortext="Contest name is required"}}

        <div class="layout-row layout-align-end-center">

            {{#paper-button raised=true primary=true onClick=(action "saveContest")}}Save Contest{{/paper-button}}
            {{#paper-button raised=true onClick=(action "toggleContest")}}Cancel{{/paper-button}}
        </div>
    </div>

{{else}}

    <md-content class="md-padding">
        {{#paper-list}}
            {{#each content as |contest|}}
                {{#paper-item}}
                    <div class="md-list-item-text">
                        <h3>{{#link-to "contest" contest.id}}{{contest.name}}{{/link-to}}</h3>
                        <p>
                            08/01/2016 Muncie, IN
                        </p>
                    </div>
                {{/paper-item}}
                {{paper-divider}} {{! OR {{paper-divider inset=true}}
            {{else}}
                {{#paper-item}}
                    Click the red button to add a contest.
                {{/paper-item}}
            {{/each}}
        {{/paper-list}}
    </md-content>

{{/liquid-if}}

