{{#paper-card}}
    {{#paper-toolbar class="card-header"}}
        Contests
        {{#paper-button icon-button=true class="md-button-header-right md-fab md-warn" action="addContest"}}{{paper-icon icon="add"}}{{/paper-button}}
    {{/paper-toolbar}}


    {{#paper-card-content}}

{{#if isEditing}}
    {{paper-input label="Contest Name" value=name required=true required-errortext="Contest name is required"}}
    {{#paper-button raised=true primary=true action="saveContest" target=component}}Save Contest{{/paper-button}}
{{else}}
        {{#paper-list}}
            {{#each content as |contest|}}
                {{#paper-item}}
                    <div class="md-list-item-text">
                        <h3>{{#link-to "contest" contest.id}}{{contest.name}}{{/link-to}}</h3>
                        <p>
                            08/01/2016 Muncie, IN
                        </p>
                    </div>
                {{/paper-item}}
                {{paper-divider}} {{! OR {{paper-divider inset=true}}

            {{/each}}

        {{/paper-list}}
{{/if}}

    {{/paper-card-content}}
{{/paper-card}}
