{{#paper-card}}
    {{#paper-card-content}}
        <h3>{{model.contest.name}}</h3>
        <h3>{{model.pilotclass.name}}</h3>
        <h3>{{model.round.name}}</h3>
        <h3>{{model.registration.pilot.fullName}}</h3>

        {{round-score
            round=model.round
            maneuverscores=model.maneuverscores
        }}

    {{/paper-card-content}}
{{/paper-card}}
