<input
    id={{inputElementId}}
    value={{value}}
    type={{type}}
    class="md-input {{if value
        (concat
            "validate "
            (if errors.length "invalid" "valid")
        )
    }}"
    onkeyup={{action (mut value) value='target.value'}}
    onchange={{action (mut value) value='target.value'}} />

<label for={{inputElementId}}>{{label}}{{yield}}</label>
{{#if isInvalid}}
    <div class="md-input-messages-animation md-auto-hide" ng-messages>
        {{#each errors as |error|}}
            <div id="error-{{inputElementId}}-{{index}}" class="paper-input-error ng-enter ng-enter-active" ng-message>
                {{error}}
            </div>
        {{/each}}
    </div>
{{/if}}