<h4>New Round</h4>
<div layout="column">
{{paper-input class="md-block" label="Round Name" onChange=(action (mut name)) value=name required=true required-errortext="Round name is required"}}
{{paper-input label="# Judges" type="number" max="10" min="0" onChange=(action (mut numjudges)) value=numjudges required=true required-errortext="Number of judges is required"}}
{{paper-input label="# High Scores to Drop" type="number" min="0" onChange=(action (mut drophigh)) value=drophigh}}
{{paper-input label="# Low Scores to Drop" type="number" min="0" onChange=(action (mut droplow)) value=droplow}}
{{#paper-select
    disabled=disableSelect
    placeholder="Maneuvers"
    value=selectedManeuverset
    onChange=(action (mut maneuverset))
    itemLabelCallback=maneuversetLabelCallback
    }}
    {{#each maneuversets as |maneuversetitem|}}
        {{#paper-option value=maneuversetitem}}
            {{maneuversetitem.name}}
        {{/paper-option}}
    {{/each}}
{{/paper-select}}
</div>


{{paper-divider}}
{{#paper-button type="submit" raised=true disabled=isSaveDisabled primary=true onClick=(action "saveRound")}}Save Round{{/paper-button}}
{{#paper-button raised=true onClick=(action "cancelNewRound")}}Cancel{{/paper-button}}
