<md-list-item class="md-1-line titleHeight">
    <div class="md-no-style md-list-item-inner">
        Aircraft Types
    </div>
</md-list-item>

{{paper-divider}}

<md-content class="md-padding">

    {{#paper-card as |card|}}
        {{#paper-list}}
            {{#each content as |aircrafttype|}}
                {{#paper-item}}
                    <div class="md-list-item-text">
                        <p>{{aircrafttype.name}}</p>
                    </div>
                {{/paper-item}}
                {{paper-divider}} {{! OR {{paper-divider inset=true}}
            {{/each}}
        {{/paper-list}}
        <div layout="row" layout-align="end center">
            {{#unless isEditing}}
                {{#paper-button disabled=addButtonDisabled icon-button=true mini=true class="md-fab md-warn" onClick=(action "toggleEditing")}}{{paper-icon icon="add"}}{{/paper-button}}
            {{/unless}}
        </div>
    {{/paper-card}}

    {{#liquid-if isEditing class="new-contest"}}

        {{#paper-card as |card|}}
            {{#card.title as |title|}}
                {{#title.text as |text|}}
                    {{#text.headline}}New Aircraft Type{{/text.headline}}
                {{/title.text}}
            {{/card.title}}

            {{#card.content class="layout-row layout-align-space-between"}}
                {{paper-input flex=true label="Aircraft Type Name" onChange=(action (mut name)) value=name required=true errorMessages=(hash required="Name is required")}}
            {{/card.content}}


            {{#card.actions}}
                {{#paper-button onClick=(action "toggleEditing")}}Cancel{{/paper-button}}
                {{#paper-button primary=true onClick=(action "save")}}Save{{/paper-button}}
            {{/card.actions}}
        {{/paper-card}}




    {{/liquid-if}}

</md-content>

