{{#paper-card}}
    {{#paper-card-content}}
        <h3>{{contest.name}}</h3>
        {{#paper-list}}
            {{#each filteredPilotClasses as |pilotclass|}}
                {{paper-divider}}

                    <div class="md-list-item-text">
                        <h3>{{pilotclass.name}}</h3>
                        {{registered-pilots-by-pilotclass contest=contest pilotclass=pilotclass}}
                        {{rounds-by-pilotclass contest=contest pilotclass=pilotclass onCreateRound=onCreateRound}}
                    </div>

            {{/each}}
        {{/paper-list}}
    {{/paper-card-content}}
{{/paper-card}}

